In [3]:
import numpy as np
import pandas as pd

### Data Acquistion

In [7]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [8]:
df = pd.read_csv(url)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Data Preparation

In [9]:
df = df[['Make','Model','Year','Engine HP', 
              'Engine Cylinders', 'Transmission Type', 
              'Vehicle Style', 'highway MPG', 'city mpg','MSRP']]

In [10]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

df.rename(columns = {'msrp': 'price'}, inplace = True)

df.fillna(0)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [11]:
values = list(df.price.values)
mean = df['price'].mean()

In [12]:
def above_average(val):
    if val > mean:
        return 1
    else:
        return 0

In [13]:
df['above_average'] = df['price'].map(above_average)
df.above_average.value_counts(normalize=True)

0    0.725617
1    0.274383
Name: above_average, dtype: float64

##### Split the data
##### Split your data in train/val/test sets with 60%/20%/20% distribution.
##### Use Scikit-Learn for that (the train_test_split function) and set the seed to 1.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
SEED = 1
df_full_train, df_test = train_test_split(df, test_size =0.2, random_state=SEED)
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state= SEED)
len(df_full_train), len(df_train), len(df_test), len(df_val)

(9531, 7148, 2383, 2383)

### Question 1: ROC AUC feature importance
##### Which numerical variable (among the following 4) has the highest AUC?