In [11]:
import json
import pickle
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv("bank.csv", sep=";")
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Question 1
###### Install Pipenv
###### What's the version of pipenv you installed?
###### Use --version to find out

In [8]:
! conda --version

conda 23.7.4

###### Models
###### We've prepared a dictionary vectorizer and a model.

###### They were trained (roughly) using this code:

###### features = ['job','duration', 'poutcome']
###### dicts = df[features].to_dict(orient='records')

###### dv = DictVectorizer(sparse=False)
###### X = dv.fit_transform(dicts)

###### model = LogisticRegression().fit(X, y)

In [12]:
with open("dv.bin", "rb") as f1:
    dv = pickle.load(f1)

with open("model1.bin", "rb") as f2:
    model = pickle.load(f2)

### Question 3
###### Let's use these models!

###### Write a script for loading these models with pickle
###### Score this client:
###### {"job": "retired", "duration": 445, "poutcome": "success"}
###### What's the probability that this client will get a credit?

In [14]:
client = dv.transform(
    {
    "job": "retired", 
          "duration": 445,
            "poutcome": "success"
            }
            )

In [15]:
model.predict(client)

array(['yes'], dtype=object)

In [19]:
model.predict_proba(client)[0][1].round(3)

0.902